<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<h1>VandyMobile Web Interface</h1>
<%= link_to "Meetings", meetings_path %><br />
<%= link_to "Teams", teams_path %><br />
<%= link_to "Apps", apps_path %><br />

